* {
    box-sizing: border-box;
}
.header {
    background-color: #4055ef;
}
.header h1 {
    color: white;
    text-align: center;
}
button{
    margin-top: 10px;
}
.flex-row {
    display: flex;
    flex-wrap: wrap;
  }
.justify-space-between {
    justify-content: space-between;
  }
#weather-info {
    display: none;
}
 
#past-entry,
#city-weather,
.card {
    background-color: #5a6c73;
}


#forecast .card {
    border: 1px solid white;
}

#past-entry li {
    background-color: #97a6a4;
    color: #f8f8ff;
}

p{
    color:black;
}

h1, h3 {
    color: #030304;
}

body{
    background-color: #97a6a4;
}