* {
    box-sizing: border-box;
}
.header {
    background-color: #4055ef;
}
.header h1 {
    color: white;
    text-align: center;
}
button{
    margin-top: 10px;
}
.flex-row {
    display: flex;
    flex-wrap: wrap;
  }
.justify-space-between {
    justify-content: space-between;
  }
